@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic",
    "Malgun Gothic", sans-serif;
}

body {
  background-color: rgb(20, 21, 23);
}

li {
  list-style: none;
}

.index0 {
  transform: translateX(0);
}

.index1 {
  transform: translateX(
    calc(-100vw / 7.5 * 7 + 7 * 0.25rem - 7 * 0.5rem - 1.5em)
  );
}

.index2 {
  transform: translateX(
    calc(-100vw / 7.5 * 13 + 14 * 0.25rem - 14 * 0.5rem - 1.5em)
  );
}
