.div {
  width: 100%;
  min-height: calc(100vw / 7.5 / 2 * 3);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10rem;
}

.relative {
  position: relative;
}
.ul {
  display: flex;
  height: 100%;
  padding: 0 1.5em;
}

.button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  height: calc(100vw / 7.5 / 2 * 3);
  width: 5vw;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.911);
}

.button:hover > span > svg {
  display: block;
}

.button > span {
  width: 100%;
  font-size: 3em;
  color: white;
  display: flex;
  justify-content: center;
}

.button > span > svg {
  display: none;
}

.next {
  right: 0;
}
.hidden {
  display: none;
}
